@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');

body{
    display: grid;
    place-items:center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:#212326;
    user-select: none;
    font-family: "Cherry Cream Soda", system-ui;
    position: relative;
}

.text-highlight{
    background-color: #2A3A4E;
    color:#EAEAEA;
    padding: 0 4px;
    border-radius: 20px;;
}

.main{
    display: flex;
    gap: 200px;
}

.left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom:50px;

}

.gem-image{
    width: 150px;
    background-color: #C92C32;
    border-radius: 40px;
    transition: opacity 0.3s ease, transform 0.1s ease;
}

.gem-image:hover{
    opacity: 0.9;
    cursor: pointer;
}

.gem-image:active {
    opacity: 0.8;
    transform: scale(0.9);
} 

.upgrade-img{
    width:50px;

}
.gem-img{
    width: 20px;
    height: 20px;
}

.upgrade{
    display:flex; 
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    width: 330px;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
    margin: 20px;
}

.mid-section h4{
    margin:0;
    margin-bottom: 20px;
    font-size: 20px;
}

.mid-section p{
    margin:0;
}

.cost-info{
    display: flex;
    gap:5px;
    align-items: center;
}

.next-level-info{
    position: absolute; /* positions this container wiht ref. to the upgrade container where we put pos:relative*/
    right: -100px;
    background-color: #C92C32;
    height:100px;
    width:120px;
    text-align: center;
    display: none;
    border-radius: 20px;
}
.upgrade:hover .next-level-info{
    display: block;
}

.statistics{
    position: absolute;
    bottom:0;
    width: 450px;
    padding: 30px;
    border: 2px white solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    left:50%;
    transform: translate(-50%);
}
.texts {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    color:white;
}

.fade-up{
    animation: fade-up 1s;
}

@keyframes fade-up {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    10%{
        transform: translateY(-5px);
        opacity: 0.9;
    }
    20%{
        transform: translateY(-10px);
        opacity: 0.8;
    }
    30%{
        transform: translateY(-15px);
        opacity: 0.7;
    }
    40%{
        transform: translateY(-20px);
        opacity: 0.6;
    }
    50%{
        transform: translateY(-25px);
        opacity: 0.5;
    }
    60%{
        transform: translateY(-35px);
        opacity: 0.4;
    }
    70%{
        transform: translateY(-45px);
        opacity: 0.3;
    }
    80%{
        transform: translateY(-50px);
        opacity: 0.5;
    }
    90%{
        transform: translateY(-55px);
        opacity: 0.3;
    }
    100%{
        transform: translateY(-65px);
        opacity: 0;
    }
}

.paperClipDocumentContainer{
    position: relative;
}

.util-buttons{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 15px;
}
.utilButton{
    padding: 8px 13px;
    font-size : 16px;
    font-weight: 600;
    font-family: inherit;
    border-radius: 6px ;
}

.right {
    max-height: 400px;
    width:550px;
    padding:20px 5px;
    overflow-y:scroll;

}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: rgb(21, 75, 139);
}

::-webkit-scrollbar-thumb{
    background: rgb(82, 171, 116);
}

::-webkit-scrollbar-thumb{
    background: rgb(53, 72, 163);
}

